rules_version = '2';
service firebase.storage {
  function isAuthenticated() {
    return request.auth != null;
  }
  function isOwner(userId) {
    return isAuthenticated() && request.auth.uid == userId;
  }
  match /b/{bucket}/o {
    match /narrations/{ownerUid}/{fileName} {
      allow read: if isOwner(ownerUid);
      allow write: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
// @pyric-source-map: [{"generatedLine":2,"authoredLine":13,"authoredCol":1,"authoredFile":"firestore.rules"},{"generatedLine":3,"authoredLine":3,"authoredCol":8,"authoredFile":"auth"},{"generatedLine":6,"authoredLine":7,"authoredCol":8,"authoredFile":"auth"},{"generatedLine":9,"authoredLine":14,"authoredCol":3,"authoredFile":"storage.modules.rules"},{"generatedLine":10,"authoredLine":15,"authoredCol":5,"authoredFile":"storage.modules.rules"},{"generatedLine":11,"authoredLine":24,"authoredCol":7,"authoredFile":"storage.modules.rules","expression":"isOwner(ownerUid)"},{"generatedLine":12,"authoredLine":30,"authoredCol":7,"authoredFile":"storage.modules.rules","expression":"false"},{"generatedLine":14,"authoredLine":34,"authoredCol":5,"authoredFile":"storage.modules.rules"},{"generatedLine":15,"authoredLine":35,"authoredCol":7,"authoredFile":"storage.modules.rules","expression":"false"}]
